:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #213547;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: aliceblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #37b5ab;
    background-color: #0b0b0b;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #280404;
  }
  #logout, #edit, #delete {
    margin-left: 1.2em;
  }
  #clear-fields {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  input {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .recipe-image {
    /* float: right; */
    width: 250px;
    height: 200px;
  }
  /* .ingredients-list {
    float: left;
  } */
  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #958e8ebc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #modal {
    background-color: #26db935b;
    padding: 8px;
    border-radius: 8px;
    /* position: fixed; */
    position: relative;
    width: 20%;
    max-width: 95%;
    height: 30%;
    max-height: 80%;
    /* display: flex; */
    /* text-align: center; */
  }
  #modal>*:not(#modal-close-button) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  #confirm-delete {
    margin-left: 1.2em;
    margin-top: 1.2em;
  }
}
