:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #213547;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: aliceblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(127, 255, 212, 0.525);
    background-color: #0b0b0b;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #280404;
  }
  #logout, #edit, #delete {
    margin-left: 1.2em;
  }
  #clear-fields {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  input {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .recipe-image {
    /* float: right; */
    width: 250px;
    height: 200px;
  }
  /* .ingredients-list {
    float: left;
  } */
  #overlay {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'rgba(0, 0, 0, 0.7)';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
  }
  #modal {
    background-color: 'white';
    padding: '20px';
    border-radius: '8px';
    position: 'relative';
    width: '80%';
    max-width: '500px';
  }
  #modal-close-button {
    position: 'absolute';
    top: '10px';
    right: '10px';
    background: 'transparent';
    border: 'none';
    font-size: '18px';
    cursor: 'pointer'
  }
}
